<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<bean id="studentDao" class="com.tgb.dao.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	

	<bean id="studentManagerBase" class="com.tgb.manager.StudentManagerImpl">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="studentManager" parent="transactionProxy">
		<property name="target" ref="studentManagerBase"></property>
	</bean>	
	
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<bean id="universityDao" class="com.tgb.dao.UniversityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	
	<!-- 此处为代理 -->
	<bean name="universityManager" class="com.tgb.manager.UniversityManagerImpl">
		<property name="universityDao" ref="universityDao"></property>
	</bean>	
	
	
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<bean id="collegeDao" class="com.tgb.dao.CollegeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	
	<!-- 此处为代理 -->
	<bean name="collegeManager" class="com.tgb.manager.CollegeManagerImpl">
		<property name="collegeDao" ref="collegeDao"></property>
	</bean>	
	
	
		
</beans>